.subsection{border: 1px solid #a6a6a6; border-radius: 15px;}
.imgSubsection{img-fluid; img-thumbnail;border:1px solid #a6a6a6;
                border-radius: 15px; background-color:white;
                rounded float-end; padding:15%
                }
.part3{
  max-height: 120px;
}
.border-primary{margin:1% 30%; border-radius:5px;}
.col-sm{flex: 1; border: 1px solid black; display: flex;
        align-items: center; word-wrap: break-word;}
.container-fluid{padding:1%;}
.lead{text-align:center;}
body{ margin: 5%;}
h1{text-align:center;}
h3{text-align:center;}
h4{text-align:center;}
.money1{}
.money2{}